.profile-top-box {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.profile-top-inner {
  width: 1024px;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  margin-left: auto;
  margin-right: auto;
  gap: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.profile-top-gird-box {
  display: flex;
  flex-direction: column;
  grid-column: span 8 / span 8;
  grid-column-start: 3;
  gap: 2rem;
}
.profile-description-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.profile-description-profile-img {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  border-radius: 9999px;
  -o-object-fit: cover;
  border-width: 1px;
  border-style: solid;
  object-fit: cover;
  flex: none;
  overflow: hidden;
}
.profile-top-tool-box {
  display: flex;
  gap: 0.5rem;
}
.profile-share-btn {
  color: var(--color-text-button-primary, #334155);
  font-weight: 700;
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: var(--color-slate-500, #64748b);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.profile-share-svg {
  fill: var(--color-slate-700, #334155);
  width: 1.5rem;
  height: 1.5rem;
  display: block;
}
.profile-edit-btn {
  color: var(--color-text-button-primary, #334155);
  font-weight: 700;
  font-size: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: var(--color-slate-500, #64748b);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.profile-edit-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.profile-name-box {
  margin-top: 2rem;
}
.profile-name {
  color: var(--color-text-bold, #0f172a);
  font-weight: 600;
  font-size: 1.875rem;
  display: inline;
  margin-bottom: 0;
}
.profile-job {
  color: var(--color-text-subtle, #334155);
  font-size: 1rem;
}
.profile-description {
  color: var(--color-text-bold, #0f172a);
  line-height: 2;
  font-size: 1rem;
  white-space: pre-line;
}

.profile-tab-box {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.profile-tab-inner {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 1024px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.profile-tab-list {
  display: flex;
  grid-column: span 8 / span 8;
  grid-column-start: 3;
}
.profile-tab-item {
  position: relative;
  display: inline-block;
  flex: 1 1 0%;
}
.profile-tab-btn {
  color: var(--color-text-subtler, #64748b);
  font-weight: 700;
  font-size: 0.875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--color-white, #fff);
  width: 100%;
}
.profile-tab-under-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.125rem;
  width: 100%;
  background-color: var(--color-slate-900, #0f172a);
  opacity: 0;
}
.profile-select-tab {
  color: var(--color-text-bold, #0f172a);
}
.profile-select-under-bar {
  opacity: 1;
}
