.profile-content-container {
  border-color: var(--color-slate-200, #e2e8f0);
  border-width: 0;
  border-style: solid;
  border-top-width: 1px;
}
.profile-content-box {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  width: 1024px;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 5rem;
}
.profile-content-inner {
  grid-column: span 8 / span 8;
  grid-column-start: 3;
}
.profile-profile-box {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.25rem;
}
.content-box {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  width: 100%;
}
.content-text-box {
  display: flex;
  justify-content: space-between;
}
.content-text {
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  font-weight: 700;
  font-size: 1.125rem;
  border-width: 0;
}
.content-update-btn {
  border-width: 0;
}
.content-update-svg {
  fill: #64748b;
  stroke: #64748b;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  row-gap: 0.75rem;
  margin-top: 1.25rem;
}
.skill-item {
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-slate-200, #e2e8f0);
  background-color: var(--color-slate-100, #f1f5f9);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 6px;
  padding-bottom: 6px;
  color: var(--color-slate-700, #334155);
}
.skill-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--color-slate-500, #64748b);
}
.content-list {
  margin-top: 1.25rem;
}
.content-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  padding-bottom: 1.25rem;
}
.content-svg {
  flex: none;
  fill: var(--color-slate-300, #cbd5e1);
}
.content-content {
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  font-size: 1rem;
}
.content-content-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-text-bold, #0f172a);
  font-weight: 600;
}
.content-content-period {
  color: var(--color-text-subtler, #64748b);
  font-size: 0.875rem;
  font-weight: 600;
}
.content-content-another {
  margin-top: 0.5rem;
  white-space: pre-line;
  font-size: 0.875rem;
  color: var(--color-text-subtle, #334155);
  font-weight: 500;
}
.content-content-link {
  align-self: flex-start;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  padding: 0.25rem;
  color: var(--color-text-subtle, #334155);
  text-decoration-line: underline;
}
.content-content-edit-btn {
  border-width: 0;
}
.content-content-edit-svg {
  fill: #64748b;
  stroke: #64748b;
}
.content-link-svg {
  fill: var(--color-slate-700, #334155);
  flex: none;
}

.non-existent-content {
  margin-top: 0.5rem;
}
.non-existent-text {
  margin-bottom: 1.25rem;
  white-space: pre-line;
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity));
}
.non-existent-add-btn {
  display: inline-flex;
  width: 140px;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-slate-500, #64748b);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-text-button-primary, #334155);
}
.non-existent-add-svg {
  fill: #334155;
}
.non-existent-add-text {
  margin-left: 0.25rem;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
